
/* Set smooth scroll behavior for the entire document */
html{
  scroll-behavior: smooth;
}

/* Set common styles for the body of the document */
body{
    padding:0;
    margin:0;
    font-family: 'Dosis', sans-serif;
}

/* Set box-sizing for all elements and reset margin and padding */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define color variables to be used throughout the document */
:root{
  --theme-1 : #000000;
  --theme-2 : #4edf6d;
  --theme-3 : #56cf70;
  --white : #fff;
  --black : #000;
  --grey  : #ACACAC;
}

/* Set styles for the header section */
header{
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
header .heading{
  color: var(--theme-2);
}

/* Set styles for the back button */
#back-btn{
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  border: 1px solid var(--grey);
  border-radius: 50%;
  padding : .5rem .6rem;
  cursor: pointer;
  background: var(--grey);
  color: white;
  opacity: 0.7;
  transition: all 300ms linear;
  z-index: 22;
  transform: scale(1.3);
}
#back-btn:hover{
  opacity: 1;
}

/* Set styles for the picked-image-container section */
main .picked-image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 0;
}
main .picked-image-container .image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  width:400px;
}

/* Hide the content of the buffer container and show a loading icon */
main .picked-image-container .image-container.buffer *,
main .picked-image-container .image-container.buffer #picked-image{
  display: none;
}
main .picked-image-container .image-container.buffer{
  height: 50vh;
  width: 100%;
  position: relative;
}
main .picked-image-container .image-container.buffer::after{
  content: '';
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 35px;
  width: 35px;
  border: 5px solid grey;
  border-radius: 50%;
  border-bottom-style: dotted;
  animation: load 1s linear infinite;
}

/* Set styles for the title and image of the picked-image-container section */
main .picked-image-container .image-container #picked-image-title{
  background: #E7E7E7;
  padding: 1rem;
  border-radius: .5rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

main .picked-image-container .image-container #picked-image {
  display: block;
  width: 100%;
}

/* Set styles for the download container */
main .picked-image-container .download-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
main .picked-image-container .download-container #download-btn{
  text-decoration: none;
  color: white;
  background: #4ad468;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: .2rem;
}
main .picked-image-container .download-container #download-btn:hover{
  opacity: 0.7;
}
main .picked-image-container .download-container #download-btn.disabled{
  pointer-events: none;
  opacity: 0.7;
}

@keyframes load{
  to{
    transform: translate(-50%,-50%)  rotate(1turn);
  }
}





main .related-para{
  border-bottom: 1px solid #000;
  padding: 1rem;
  margin: 1.5rem 0;
  opacity: 0.7;
}








/* Responsive */
@media  (max-width :500px) {
  header #heading{
    font-size: 2.1rem;
  }
  main .picked-image-container .image-container{
    width : 100%;
    padding: .5rem;
  }
  #back-btn{
    top : 1rem;
    left : .5rem;
    padding: .5rem .7rem;
    transform: scale(1);
  }
}

