html{
  scroll-behavior: smooth;
}
body{
    padding:0;
    margin:0;
    font-family: 'Dosis', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --theme-1 : #000000;
  --theme-2 : #4edf6d;
  --theme-3 : #56cf70;
  --white : #fff;
  --black : #000;
}
.goto-top-btn{
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 25px;
  width: 25px;
  
  border-radius: 50%;
  text-decoration: none;
  color: inherit;
  font-size: .9rem;
  border: 1px solid white;
  background: transparent;
  opacity: 0;
  cursor: none;
  transform: scale(1.5);
  transition: all 100ms linear;

}
.goto-top-btn:hover{
  background: white;
  opacity: 1;
}

.goto-top-btn.show{
  opacity: 1;
}

header{
  display: flex;
  padding: 2rem 0;
  background-color: var(--theme-1);
  justify-content: center;
  align-items: center;
  text-align: center;
}
header #heading{
  color: var(--theme-2);
  font-size: 3.4rem;
  margin-bottom: .3rem;
}
header .header-para{
  color: rgb(223, 222, 222);
}
header form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .input-container{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
  padding: .7rem ;
  border-radius: .7rem;
  width: 500px;
  background-color: white;
}
header .input-container #photo-search-input{
  flex: 1;
  border: none;
  outline: none;
}
header .input-container #submit{
  padding: .5rem .7rem ;
  background-color: var(--theme-3);
  color: var(--white);
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
header .input-container #submit:hover{
  background-color: var(--theme-2);
}









/* Responsive */
@media  (max-width :500px) {
  header #heading{
    font-size: 2.1rem;
  }
  header .input-container{  
    width: 94%;
    margin: 1rem auto;
    padding: .5rem;
  }
  main .image-grid{
     grid-template-columns: repeat(1,minmax(0,1fr));
     padding: .5rem;
     column-gap: .5rem;
     row-gap: .5rem;
  }
  
}