body{
    padding:0;
    margin:0;
    font-family: 'Dosis', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --theme-1 : #000000;
  --theme-2 : #4edf6d;
  --theme-3 : #56cf70;
  --white : #fff;
  --black : #000;
  --grey  : #ACACAC;
}

header{
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
header .heading{
  color: var(--theme-2);
}

#back-btn{
  position: fixed;
  top: 1rem;
  left: .5rem;
  border: 1px solid var(--grey);
  border-radius: 50%;
  padding : .5rem .7rem;
  cursor: pointer;
  background: var(--grey);
  color: white;
  opacity: 0.7;
  transition: all 800ms linear;
}
#back-btn:hover{
  opacity: 1;
}
#back-btn::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 25px; 
  width: 25px;
  background: var(--grey);
  border-radius: 50%;
  z-index: -1;
  transition: all 400ms linear;
  opacity: 0;
}
#back-btn:hover::after{
  transform: scale(70);
  opacity: 0.9;
}







main .picked-image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 0;
}
main .picked-image-container .image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  width:600px;
}

main .picked-image-container .image-container.buffer *,
main .picked-image-container .image-container.buffer #picked{
  display: none;
}
main .picked-image-container .image-container.buffer{
  height: 50vh;
  width: 100%;
  position: relative;
}
main .picked-image-container .image-container.buffer::after{
  content: '';
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 35px;
  width: 35px;
  border: 5px solid grey;
  border-radius: 50%;
  border-bottom-style: dotted;
  animation: load 1s linear infinite;
}
@keyframes load{
  to{
    transform: translate(-50%,-50%)  rotate(1turn);
  }
}

main .picked-image-container .image-container #picked-image-title{
  background: #E7E7E7;
  padding: 1rem;
  border-radius: .5rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

main .picked-image-container .image-container #picked-image {
  display: block;
  width: 100%;
}

main .picked-image-container .download-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
main .picked-image-container .download-container #download-btn{
  text-decoration: none;
  color: white;
  background: var(--theme-3);
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: .2rem;
}
main .picked-image-container .download-container #download-btn.disabled{
  pointer-events: none;
  opacity: 0.7;
}






main .related-para{
  border-bottom: 1px solid #000;
  padding: 1rem;
  margin: 1.5rem 0;
  opacity: 0.7;
}






main .related-images-grid{
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3,minmax(0,1fr));
  column-gap: 1rem;
  row-gap: 1rem; 
  padding:1rem;
}
main .related-images-grid .column-div{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
}
main .related-images-grid .related-image-container{
  position: relative;
  transition: all 300ms ease-in;
}
main .related-images-grid .related-image-container .related-image-title{
  display : none;
}
main .related-images-grid .related-image-container #related-image{
  display: block;
  width: 100%;
  height: 100%;
}
main .related-images-grid .related-image-container .self-search-container{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transition: all 300ms ease-in;
}
main .related-images-grid .related-image-container .self-search-container .self-search-btn{
  color: white;
  text-decoration: none;
  background-color: rgba(0,0,0,0.50);
  border: none;
  font-size: .9rem;
  flex: 1;
  text-align: center;
  padding: .6rem;
  font-weight: bold;
  transition: all 100ms ease-in;
  transform: scale(1,0);
  cursor: pointer;
}
main .related-images-grid .related-image-container:active .self-search-container .self-search-btn,
main .related-images-grid .related-image-container:hover .self-search-container .self-search-btn{
  transform: scale(1);
}
/* Animation */
main .related-images-grid .related-image-container.loading{
 background: #CFCFCF;
}









main .load-more-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
}
main .load-more-container #load-more{
  padding: 1rem;
  background-color: #1f3624;
  border: var(--theme-2);
  color: var(--white);
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 1rem;
  border-radius: .3rem;
  cursor: pointer;
}

main .load-more-container #load-more:hover{
  opacity: 0.7;
}
main .load-more-container.disabled{
  display: none;
}







/* Responsive */
@media  (max-width :500px) {
  header #heading{
    font-size: 2.1rem;
  }
  main .picked-image-container .image-container{
    width : 100%;
    padding: .5rem;
  }
  main .related-images-grid{
     grid-template-columns: repeat(1,minmax(0,1fr));
     padding: .5rem;
     column-gap: .5rem;
     row-gap: .5rem;
  }

  main .load-more-container #load-more{
    font-size: .8rem;
  }
}

